*.pyc
__pycache__/
.env
.env.backup
.env.*.backup
.phpunit.result.cache
node_modules/
npm-debug.log
yarn-error.log
.DS_Store
storage/
bootstrap/cache/
vendor/
.idea
.vscode
*.swp
*.swo
.history/
.vagrant
Homestead.json
Homestead.yaml
app-release.apk
app-release.aab
coverage/
_ide_helper.php
.phpstorm.meta.php
.backups/
replacements-*.json
